@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "JetBrains Mono", monospace;
}

.logo-wrapper {
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.logo-wrapper:hover {
    transform: rotate(360deg);
}

.logo-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.bot {
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    padding-bottom: 5px;
    display: block; 
    /* width: 100%;  */
}

.bot:hover {
    background-color:rgba(116, 18, 207, 0.827);
    color: #fff;
    padding: 5px;
}

/* Ensure links inside <li> take full width and height */
.bot a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.pavan-papi span:nth-child(2){
    transform: scale(1);
    display: inline-block;
    transition: transform 0.3s ease;
}

.pavan-papi span:nth-child(2):hover {
    transform: scale(1.5);
}

.pavan-papi span:nth-child(3){
    transform: scale(1);
    display: inline-block;
    transition: transform 0.3s ease;
}

.pavan-papi span:nth-child(3):hover {
    transform: scale(1.5);
}

.pavan-papi span:nth-child(4){
    transform: scale(1);
    display: inline-block;
    transition: transform 0.3s ease;
}

.pavan-papi span:nth-child(4):hover {
    transform: scale(1.5);
}

.pavan-papi span:nth-child(5){
    transform: scale(1);
    display: inline-block;
    transition: transform 0.3s ease;
}

.pavan-papi span:nth-child(5):hover {
    transform: scale(1.5);
}

.pavan-papi span:nth-child(6){
    transform: scale(1);
    display: inline-block;
    transition: transform 0.3s ease;
}

.pavan-papi span:nth-child(6):hover {
    transform: scale(1.5);
}

.pavan-papi span:nth-child(7){
    transform: scale(1);
    display: inline-block;
    transition: transform 0.3s ease;
}

.pavan-papi span:nth-child(7):hover {
    transform: scale(1.5);
}

.pavan-papi span:nth-child(9){
    transform: scale(1);
    display: inline-block;
    transition: transform 0.3s ease;
}

.pavan-papi span:nth-child(9):hover {
    transform: scale(1.5);
}

.pavan-papi span:nth-child(10){
    transform: scale(1);
    display: inline-block;
    transition: transform 0.3s ease;
}

.pavan-papi span:nth-child(10):hover {
    transform: scale(1.5);
}

.pavan-papi span:nth-child(11){
    transform: scale(1);
    display: inline-block;
    transition: transform 0.3s ease;
}

.pavan-papi span:nth-child(11):hover {
    transform: scale(1.5);
}

.pavan-papi span:nth-child(12){
    transform: scale(1);
    display: inline-block;
    transition: transform 0.3s ease;
}

.pavan-papi span:nth-child(12):hover {
    transform: scale(1.5);
}